:root {
    --color-bg: #ffffff;
    --color-fg: #010101;
    --color-fg-gray: #767781;
    --color-gray: #eaeaea;

    --color-green: #8ca247;
    --color-yellow: #f4ba61;

    --std-gap: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    background-color: var(--color-green);
}

p {
    margin: 0;
    padding: 0;
}
