:root {
    --color-bg: #ffffff;
    --color-fg: #010101;
    --color-fg-gray: #767781;
    --color-gray: #eaeaea;

    --color-hover: #66666620;

    --color-yellow: #f3b244;
    --color-blue: #2d67c8;
    --color-green: #4d9568;
    --color-red: #c4352a;

    --std-lg-gap: 20px;
    --std-sm-gap: 10px;
    --std-pd: 20px;
    --std-br: 8px;

    --std-icon-size: 22px;
    --std-sm-icon-size: 14px;
}

* {
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
}

h1,
p {
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 28px;
}
h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
}

input::placeholder {
    color: var(--color-fg-gray);
}
input:focus {
    outline: none;
}

button {
    all: unset;
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

@font-face {
    font-family: "CaacupeOne";
    src: url("/font/CaacupeOne.ttf") format("truetype");
    font-display: block;
}