.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--std-lg-gap);
    padding: var(--std-pd);

    .form {
        display: flex;
        flex-direction: column;
        gap: var(--std-sm-gap);

        > input {
            border: 1px solid var(--color-gray);
            border-radius: var(--std-br);
            padding: 10px 15px;
            outline: none;
            font-size: 14px;
        }
        > input::placeholder {
            color: var(--color-fg-gray);
        }
        > input:focus {
            outline: none;
        }

        > .forget-password {
            color: var(--color-blue);
            text-decoration: underline;
            width: max-content;
        }

        > .submit {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--std-sm-gap);
            padding: 10px;
            border-radius: var(--std-br);
            text-align: center;
            color: var(--color-bg);
            background-color: var(--color-yellow);
            cursor: pointer;

            > .loader {
                width: var(--std-sm-icon-size);
                height: var(--std-sm-icon-size);
                animation: rotate 1s linear infinite;
            }
        }

        > .submit.loading {
            background-color: var(--color-gray);
            color: var(--color-fg);
            cursor: wait;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
