.order-list {
    .list {
        display: flex;
        flex-direction: column;
        gap: var(--std-sm-gap);
        padding: 0 var(--std-pd);

        > .item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 20px;
            border-radius: var(--std-br);
            background-color: var(--color-gray);

            > .header {
                h3 {
                    font-weight: normal;
                }
                p {
                    color: var(--color-fg-gray);
                }
            }

            > .info {
                p {
                    display: flex;
                    align-items: center;
                    color: var(--color-fg-gray);

                    .title {
                        height: max-content;
                        margin: 0;
                        padding: 0;
                        min-width: 70px;
                    }
                }
            }

            > .content {
                --img-width: 50px;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                row-gap: var(--std-sm-gap);

                > .food {
                    display: flex;
                    gap: var(--std-sm-gap);

                    h3 {
                        font-weight: normal;
                    }

                    > .photo {
                        width: var(--img-width);
                        height: var(--img-width);
                        border-radius: calc(var(--std-br) / 2);
                        overflow: hidden;

                        > img {
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    > .info {
                        color: var(--color-fg-gray);

                        > span {
                            display: block;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}

.break-line {
    height: 1px;
    background-color: var(--color-fg-gray);
    border-radius: var(--std-br);
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - var(--std-title-size) - 20px);
    overflow-x: hidden;

    .welcome-container {
        display: flex;
        flex-direction: column;
        gap: var(--std-sm-gap);

        > .welcome {
            display: flex;
            flex-direction: row;
            gap: var(--std-sm-gap);
            margin: 0 var(--std-pd);

            > .avatar {
                flex: 0 0 50px;
                width: 50px;
                height: 50px;

                > img {
                    width: 100%;
                    height: 100%;
                    border-radius: calc(var(--std-br) / 2);
                    object-fit: cover;
                }
            }
            > .chat {
                display: flex;
                flex-direction: column;
                gap: var(--std-sm-gap);

                .time {
                    color: var(--color-fg-gray);
                }

                > .msg {
                    padding: 20px;
                    border-radius: 0 var(--std-br) var(--std-br) var(--std-br);
                    background-color: var(--color-gray);
                
                    > .audio {
                        height: 1rem;
                    }
                }
            }
        }

    }

    h2 {
        font-weight: normal;
        margin: 0;
    }

    .card-container {
        position: relative;
        height: 420px;

        .card, .card-left, .card-right {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            gap: var(--std-lg-gap);
            justify-content: space-between;
            width: 280px;
            padding: 20px;
            border-radius: var(--std-br);
            background-color: var(--color-gray);
            user-select: none;
            box-shadow: 0 6px 36px 0 rgba(0, 0, 0, 0.1);

            > header > p {
                color: var(--color-fg-gray);
            }

            h2 {
                font-weight: normal;
                margin: 0;
            }

            > main::-webkit-scrollbar {
                display: none;
            }
            > main {
                --img-width: 50px;

                height: 210px;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                gap: var(--std-sm-gap);
                scrollbar-width: none;

                > .food {
                    display: flex;
                    gap: var(--std-sm-gap);
                    cursor: pointer;

                    h3 {
                        font-weight: normal;
                    }

                    > .photo {
                        width: var(--img-width);
                        height: var(--img-width);
                        border-radius: calc(var(--std-br) / 2);
                        overflow: hidden;

                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    > .info {
                        color: var(--color-fg-gray);

                        > span {
                            display: block;
                            line-height: 16px;
                        }
                    }
                }
            }

            > footer {
                color: var(--color-fg-gray);

                .amount {
                    font-size: 24px;
                    color: var(--color-fg);
                }
            }

            z-index: 3;
        }

        .card-left {
            transform-origin: 50% 500%;
            transform: translate(-50%, -50%) rotate(-7deg);
            opacity: 0.4;
            z-index: 2;
            
            > main {
                height: 180px;
            }
        }
        .card-right {
            transform-origin: 50% 500%;
            transform: translate(-50%, -50%) rotate(7deg);
            opacity: 0.6;
            z-index: 1;

            > main {
                height: 180px;
            }
        }

        .action {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--color-gray);
            padding: 20px 0;
            border-radius: var(--std-br);
            z-index: 4;
        }
        .action.left {
            left: 10px;
        }
        .action.right {
            right: 10px;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: var(--std-sm-gap);
        margin: 0 var(--std-pd);
        padding: 20px;
        border-radius: var(--std-br);
        background-color: var(--color-gray);

        > .buttons {
            display: flex;
            gap: var(--std-sm-gap);

            > button {
                flex: 1;
            }
        }
    }
}
