.message {
    position: fixed;
    top: 10px;
    left: 50%;
    display: grid;
    place-items: center;
    transform: translateX(-50%);
    z-index: 100;

    > .content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--std-sm-gap);
        padding: 10px 15px;
        border: 1px solid var(--color-gray);
        border-radius: var(--std-br);
        background-color: var(--color-bg);
        opacity: 0;

        .icon {
            width: var(--std-icon-size);
            height: var(--std-icon-size);
        }
        .icon.success {
            color: var(--color-green);
        }
        .icon.warning {
            color: var(--color-yellow);
        }
        .icon.failed {
            color: var(--color-red);
        }
    }

    > .content.show {
        animation: popdown 0.2s ease-out forwards;
    }
    > .content.hide {
        animation: hideup 0.2s ease-out forwards;
    }
}

@keyframes popdown {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes hideup {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20%);
    }
}
