.title {
    display: flex;
    align-items: center;
    gap: 5px;
    height: var(--std-title-size);
    margin: var(--std-pd);
    padding: 0 20px;
    background-color: var(--color-gray);
    border-radius: 50px;
    cursor: pointer;
}
