.food-list {
    display: flex;
    flex-direction: column;
    gap: var(--std-sm-gap);

    > h1 {
        font-weight: normal;

        > span {
            display: block;
        }
    }

    > .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--std-sm-gap);
        padding: 15px 20px;
        background-color: var(--color-gray);
        border-radius: 30px;

        > label {
            height: 18px;
        }

        svg {
            width: 18px;
            height: 18px;
        }

        > input {
            border: none;
            outline: none;
            font-size: 14px;
            width: 100%;
            background-color: inherit;
        }

        > .filter {
            height: 18px;
        }
    }

    > ul {
        --img-width: 60px;
        display: flex;
        flex-direction: column;
        gap: var(--std-sm-gap);

        > li {
            display: flex;
            align-items: start;
            gap: var(--std-sm-gap);
            padding: 10px;
            border-radius: var(--std-br);
            background-color: var(--color-gray);

            > .photo {
                flex: 0 0 var(--img-width);
                width: var(--img-width);
                height: var(--img-width);
                border-radius: var(--std-br);
                overflow: hidden;

                > img {
                    height: 100%;
                    object-fit: contain;
                }
            }

            > .name {
                flex: 1 0 150px;
                > p {
                    color: var(--color-fg-gray);
                }
            }

            > button {
                position: relative;
                align-self: center;
                background-color: var(--color-yellow);
                border-radius: var(--std-br);
                width: 28px;
                height: 28px;

                > .hl,
                > .vl {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 16px;
                    height: 2px;
                    border-radius: var(--std-br);
                    background-color: var(--color-gray);
                }
                > .hl {
                    transform: translate(-50%, -50%);
                }
                > .vl {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }
    }
}

.food-detail {
    display: flex;
    flex-direction: column;
    gap: var(--std-sm-gap);

    h3 {
        margin-bottom: 5px;
    }
    > p {
        color: var(--color-fg-gray);
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: start;

        > .ic,
        .txt {
            display: flex;
            align-items: center;
            gap: var(--std-lg-gap);

            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                > svg {
                    width: 18px;
                }
            }
        }
    }

    .ig-container {
        display: flex;
        gap: var(--std-sm-gap);
        flex-wrap: wrap;

        .ingredient {
            display: block;
            background-color: var(--color-gray);
            border-radius: 20px;
            padding: 4px 8px;
        }
    }

    .cm-container {
        display: flex;
        flex-direction: column;
        gap: var(--std-sm-gap);

        > p {
            padding: 8px 16px;
            background-color: var(--color-gray);
            border-radius: var(--std-br);

            > span {
                display: block;
            }
        }
    }
}
