.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    > .title {
        display: grid;
        place-items: center;
        height: 50px;
        background-color: var(--color-gray);

        > h1 {
            font-weight: normal;
        }
    }

    > .content {
        padding: var(--std-pd);
        background-color: var(--color-bg);
        flex: 1 0 0;
        overflow-y: auto;
        scrollbar-width: none;
        z-index: 2;
    }
    > .content::-webkit-scrollbar {
        display: none;
    }
    > .footer {
        padding: var(--std-pd);
        background-color: var(--color-bg);
        flex: 0 0 max-content;
        z-index: 1;
    }
}
