.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    > .content {
        padding: var(--std-pd);
        flex: 1 0 0;
        overflow-y: auto;
        scrollbar-width: none;
        z-index: 2;
    }
    > .content::-webkit-scrollbar {
        display: none;
    }
    > .footer {
        padding: var(--std-pd);
        flex: 0 0 max-content;
        z-index: 1;
    }
}
